body {
  height: 100vh;
  background-image: url(sprites/wallpaper.png);
  font-family: "Press Start 2P", cursive;
  background-repeat: no-repeat;
  background-size: cover;
}

#picareta,
#foice,
#regador,
#enxada,
#s1,
#s2,
#s3 {
  background-repeat: no-repeat;
  background-size: cover;
  border-color: gold;
  width: 54px;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  padding: 0;
  overflow: hidden;
  text-align: center;

  position: relative;
  padding: 0;
  overflow: hidden;
}

#s1 {
  background-image: url(sprites/Batata\ item.png);
}

#s2 {
  background-image: url(sprites/alho\ botao.png);
}

#s3 {
  background-image: url(sprites/cenoura\ botao.png);
}

#picareta {
  background-image: url(sprites/Picareta.png);
}

#enxada {
  background-image: url(sprites/enxada.png);
}

#foice {
  background-image: url(sprites/foice.png);
}

#regador {
  background-image: url(sprites/regador.png);
}

#picareta:hover {
  background-image: url(sprites/Picareta\ selecionada.png);
}

#enxada:hover {
  background-image: url(sprites/enxada\ selecionada.png);
}

#regador:hover {
  background-image: url(sprites/regador\ selecionado.png);
}

#foice:hover {
  background-image: url(sprites/foice\ selecionada.png);
}

#s1:hover {
  background-image: url(sprites/batata\ item\ selecionado.png);
}

#s2:hover {
  background-image: url(sprites/alho\ botao\ selecionado.png);
}

#s3:hover {
  background-image: url(sprites/cenoura\ botao\ selecionado.png);
}

.itens {
  position: absolute;
  bottom: 40px;
  display: flex;
}