body {
  height: 100vh;
  background-image: url(sprites/wallpaper.png);
  font-family: "Press Start 2P", cursive;
  background-repeat: no-repeat;
  background-size: cover;
}

#picareta,
#foice,
#regador,
#enxada,
#s1,
#s2,
#s3 {
  background-repeat: no-repeat;
  background-size: cover;
  border-color: gold;
  width: 54px;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  padding: 0;
  overflow: hidden;
  text-align: center;

  position: relative;
  padding: 0;
  overflow: hidden;
}

#s1 {
  background-image: url(sprites/Batata\ item.png);
}

#s2 {
  background-image: url(sprites/alho\ botao.png);
}

#s3 {
  background-image: url(sprites/cenoura\ botao.png);
}

#picareta {
  background-image: url(sprites/Picareta.png);
}

#enxada {
  background-image: url(sprites/enxada.png);
}

#foice {
  background-image: url(sprites/foice.png);
}

#regador {
  background-image: url(sprites/regador.png);
}

#picareta:hover {
  background-image: url(sprites/Picareta\ selecionada.png);
}

#enxada:hover {
  background-image: url(sprites/enxada\ selecionada.png);
}

#regador:hover {
  background-image: url(sprites/regador\ selecionado.png);
}

#foice:hover {
  background-image: url(sprites/foice\ selecionada.png);
}

#s1:hover {
  background-image: url(sprites/batata\ item\ selecionado.png);
}

#s2:hover {
  background-image: url(sprites/alho\ botao\ selecionado.png);
}

#s3:hover {
  background-image: url(sprites/cenoura\ botao\ selecionado.png);
}

.itens {
  position: absolute;
  bottom: 40px;
  display: flex;
}

#Plantacao {
  display: grid;
  width: 576px;
  height: 576px;
  grid-template-columns: repeat(12, 48px);
  grid-template-rows: repeat(12, 48px);
  border: 2px solid black;
}

.erva {
  background-image: url(sprites/erva.png);
  background-color: #21b600;
  background-repeat: no-repeat;
  background-size: cover;
}

.pedra {
  background-image: url(sprites/pedra.png);
  background-color: #21b600;
  background-repeat: no-repeat;
  background-size: cover;
}

.malha {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#batata {
  background-image: url(sprites/Sementes\ batata.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 64px;
  height: 64px;
}

#alho {
  background-image: url(sprites/Sementes\ alho.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 64px;
  height: 64px;
}

#cenoura {
  background-image: url(sprites/Sementes\ cenoura.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 64px;
  height: 64px;
}

#q1,
#q2,
#q3 {
  position: absolute;
  bottom: 2px;
  right: 4px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#relogio {
  background-image: url(sprites/relógio.png);
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 60px;
  height: 60px;
}

#relogio:hover {
  background-image: url(sprites/relógio\ selecionado.png);
}