body {
  background-image: url(sprites/Tela\ inicial.png);
  background-size: cover;
  background-repeat: no-repeat;
   height: 100vh;
  display: flex;

}

#Logo{
  background-image: url(sprites/Logo.png);
  place-items: center;
  background-size: contain;
  width: 900px;
  height: 600px;
  background-repeat: no-repeat;
}

#Start {
  position: absolute;
  bottom: 40px;
  background-image: url(sprites/Botão\ start.png);
  width: 148px;
  height: 116px;
  background-size: cover;
  background-repeat: no-repeat;
}

#Start:hover {
  background-image: url(sprites/Botão\ start\ selecionado.png);
}

#Creditos {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 150px;
  height: 74px;
  background-image: url(sprites/Botão\ créditos.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#Creditos:hover {
  background-image: url(sprites/Botão\ créditos\ selecionado.png);
}